* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #212529;
  line-height: 1.15;
}

.carousel__tittle button {
  background-color: #212529;
  border: 1px solid #212529;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 20px;
  color: #ccc;
  font-weight: 400;
}

.carousel__tittle button {
  background-color: #212529;
  border: 1px solid #212529;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 20px;
  color: #ccc;
  font-weight: 400;
}

.carousel {
  position: relative;
}

.carousel .carousel__tittle {
  position: absolute;
  width: 40%;
  left: 100px;
  top: 100px;
}

.carousel .carousel__tittle .a__content {
  text-decoration: none;
  font-size: 34px;
  color: #fff;
  font-weight: 400;
}

.carousel .carousel__tittle button {
  margin-top: 20px;
}

.carousel .carousel__tittle button a {
  text-decoration: none;
  color: #ccc;
}

.carousel .carousel__item {
  max-height: 715px;
}

.carousel .owl-nav .owl-prev {
  left: 50px;
  position: absolute;
  bottom: 50%;
}

.carousel .owl-nav .owl-prev:hover {
  background-color: transparent;
  color: #d6d6d6;
}

.carousel .owl-nav .owl-prev:focus {
  outline: none;
}

.carousel .owl-nav .owl-prev:active {
  color: #0088c6;
}

.carousel .owl-nav .owl-prev span {
  height: 100px;
  width: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 100px;
}

.carousel .owl-nav .owl-next {
  position: absolute;
  height: 100px;
  right: 50px;
  bottom: 50%;
}

.carousel .owl-nav .owl-next:hover {
  background-color: transparent;
  color: #d6d6d6;
}

.carousel .owl-nav .owl-next:focus {
  outline: none;
}

.carousel .owl-nav .owl-next:active {
  color: #0088c6;
}

.carousel .owl-nav .owl-next span {
  font-size: 100px;
  height: 100%;
}

.carousel .owl-dots {
  visibility: hidden;
}

@media screen and (max-width: 1200px) {
  .carousel .carousel__tittle {
    width: 50%;
  }
  .carousel .carousel__tittle button {
    font-size: 15px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 992px) {
  .carousel .carousel__tittle .a__content {
    font-size: 24px;
  }
  .carousel .carousel__tittle .a__content p {
    width: 301px;
  }
}

@media screen and (max-width: 576px) {
  .carousel__content {
    height: 370px;
  }
  .carousel .carousel__tittle {
    position: absolute;
    padding: 20px;
    width: 110%;
    background-color: #fff;
    left: 0px;
    top: 195px;
  }
  .carousel .carousel__tittle .a__content {
    color: #212529;
  }
  .carousel .carousel__tittle .a__content p {
    width: 370px;
  }
  .carousel .owl-nav .owl-prev {
    left: 20px;
    position: absolute;
    bottom: 70%;
  }
  .carousel .owl-nav .owl-prev:hover {
    background-color: transparent;
    color: #d6d6d6;
  }
  .carousel .owl-nav .owl-prev:focus {
    outline: none;
  }
  .carousel .owl-nav .owl-prev:active {
    color: #0088c6;
  }
  .carousel .owl-nav .owl-prev span {
    font-size: 50px;
  }
  .carousel .owl-nav .owl-next {
    position: absolute;
    right: 20px;
    bottom: 64%;
  }
  .carousel .owl-nav .owl-next:hover {
    background-color: transparent;
    color: #d6d6d6;
  }
  .carousel .owl-nav .owl-next:focus {
    outline: none;
  }
  .carousel .owl-nav .owl-next:active {
    color: #0088c6;
  }
  .carousel .owl-nav .owl-next span {
    font-size: 50px;
  }
}

.searchBar {
  width: 85%;
  margin: auto;
}

.searchBar .input-group {
  height: 50px;
}

.searchBar .input-group .form-control {
  border: white;
}

.searchBar .input-group .button {
  background-color: white;
}

.searchBar .input-group .button:active i {
  color: #00adef;
}

.searchBar .input-group .button .btn-outline-secondary {
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border-color: white;
}

.searchBar .input-group .button .btn-outline-secondary i {
  font-size: 20px;
}

.intro {
  width: 85%;
  margin: auto;
}

.intro .intro__tittle h2 {
  font-weight: 700;
}

.intro .intro__tittle p {
  padding-top: 10px;
  width: 70%;
  line-height: 22px;
  word-spacing: 2px;
}

.intro .intro__tittle button {
  margin-top: 2rem;
  background-color: #00adef;
  border: 1px solid #00adef;
  padding: 10px 20px;
  border-radius: 3px;
}

.intro .intro__tittle button:hover {
  background-color: #0088c6;
  border: 1px solid #0088c6;
  padding: 10px 20px;
  border-radius: 3px;
}

.intro .intro__tittle button a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  font-weight: normal;
}

.intro .intro__logo .row {
  margin: 100px 0;
}

.intro .intro__logo .row .col, .intro .intro__logo .row .col-md-3 {
  padding: 0 7px;
}

.intro .intro__logo .row .col a {
  position: relative;
}

.intro .intro__logo .row .col a img {
  width: 100%;
}

.intro .intro__logo .row .col a .height {
  position: absolute;
  bottom: -78px;
  height: 0px;
  width: 100%;
  background-color: #00adef;
  opacity: 0;
  transition: all .5s;
}

.intro .intro__logo .row .col a:hover .height {
  opacity: 1;
  height: 8px;
}

@media screen and (max-width: 576px) {
  .intro .intro__tittle h2 {
    font-size: 20px;
  }
  .intro .intro__tittle p {
    width: 100%;
    text-align: justify;
  }
  .intro .intro__tittle button {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .intro .intro__tittle p {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .intro .intro__tittle p {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */